/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * Variables
 */
/**
 * modules/mixins
*/
/**
 * Font-faces
*/
/* RobotoCondensed */
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoCondensedItalic";
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: italic;
}

@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: normal;
}

/* Montserrat */
@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratItalic";
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: italic;
}

@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: normal;
}

/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="number"] {
  font-size: inherit;
  line-height: inherit;
}

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
.sticky {
  margin: 0;
}

.bypostauthor {
  margin: 0;
}

/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 15px 15px;
}

.alignleft {
  float: left;
  margin: 5px 15px 15px 0;
}

/**
 * Gallery & images
 */
.wp-caption {
  background: #ffffff;
  border: thin solid #f0f0f0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center;
}

.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 140%;
  line-height: 1.5;
}

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.reset-box {
  padding: 0;
  margin: 0;
}

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/**
 * modules/mediaqueries
 * ---
 */
/**
 * Media Queries
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  position: relative;
  min-height: 100vh;
  font-family: "MonserratRegular", sans-serif;
  font-size: 14px;
  line-height: 26px;
}

img {
  height: auto;
}

a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.content .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: "MontserratRegular", sans-serif;
}

h1,
h2 {
  font-family: "MontserratBold", sans-serif;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
}

@media screen and (max-width: 1175px) {
  h1,
  h2 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
}

h5 {
  font-family: "RobotoCondensedRegular", sans-serif;
  font-weight: normal;
  color: #fa2a2a;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 5px;
}

h1 {
  font-size: 48px;
  line-height: 58px;
}

@media screen and (max-width: 1175px) {
  h1 {
    font-size: calc(48px * 0.8);
    line-height: calc(58px * 0.8);
  }
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: calc(48px * 0.7);
    line-height: calc(58px * 0.7);
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: calc(48px * 0.6);
    line-height: calc(58px * 0.6);
  }
}

h2 {
  font-size: 38px;
  line-height: 48px;
}

@media screen and (max-width: 1175px) {
  h2 {
    font-size: calc(38px * 0.8);
    line-height: calc(48px * 0.8);
  }
}

@media screen and (max-width: 960px) {
  h2 {
    font-size: calc(38px * 0.7);
    line-height: calc(48px * 0.7);
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: calc(38px * 0.6);
    line-height: calc(48px * 0.6);
  }
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 1175px) {
  h3 {
    font-size: calc(20px * 0.8);
    line-height: calc(30px * 0.8);
  }
}

@media screen and (max-width: 960px) {
  h3 {
    font-size: calc(20px * 0.7);
    line-height: calc(30px * 0.7);
  }
}

h4 {
  font-family: "MontserratRegular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #4e4e4e;
  font-weight: normal;
}

@media screen and (max-width: 1175px) {
  h4 {
    font-size: calc(16px * 0.8);
    line-height: calc(26px * 0.8);
  }
}

/* HEADER */
.header {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: -18px;
  }
}

.header .header-inner {
  position: absolute;
  width: 100%;
  z-index: 2;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(75%, #000000), to(transparent));
  background: linear-gradient(180deg, #000000 0%, #000000 75%, transparent 100%);
  padding-top: 40px;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .header .header-inner {
    background: rgba(0, 0, 0, 0.9);
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.header .header-inner .logo {
  margin-top: 5px;
  margin-left: 40px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* NAVIGATION */
.navbar {
  padding: 0.3rem 1rem;
}

nav .navbar-toggler {
  margin-right: 20px;
  outline: 0;
}

nav .navbar-collapse {
  margin-right: 20px;
}

nav .navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
  text-align: center;
  font-family: "RobotoCondensedRegular", sans-serif;
}

@media screen and (max-width: 767px) {
  nav .navbar-nav {
    display: block;
    margin-top: 60px;
    margin-right: 20px;
    width: 100%;
    text-align: right;
    height: 100vh;
  }
}

nav .navbar-nav > li {
  display: inline-block;
  margin: 0 20px;
}

@media screen and (max-width: 767px) {
  nav .navbar-nav > li {
    display: block;
    margin: 0;
    margin-bottom: 14px;
  }
}

nav .navbar-nav > li:last-child > a {
  background: #333333;
  opacity: 1;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
}

nav .navbar-nav > li:last-child > a:before, nav .navbar-nav > li:last-child > a:after {
  display: none;
}

nav .navbar-nav > li:last-child > a:hover {
  background: #fa2a2a;
}

@media screen and (max-width: 767px) {
  nav .navbar-nav > li:last-child > a {
    background: none;
    padding-left: 0px;
    padding-right: 0px;
  }
}

nav .navbar-nav > li > a {
  color: white;
  opacity: 0.5;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 18px;
  padding-right: 10px;
  padding-bottom: 18px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  nav .navbar-nav > li > a {
    padding-top: 18px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    opacity: 1;
  }
}

nav .navbar-nav > li > a.dropdown-toggle:before, nav .navbar-nav > li > a.dropdown-toggle:after {
  display: none;
}

nav .navbar-nav > li > a:before, nav .navbar-nav > li > a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fa2a2a;
  opacity: 0;
}

nav .navbar-nav > li > a:hover, nav .navbar-nav > li > a:focus {
  opacity: 1;
}

nav .navbar-nav > li > a:hover:after, nav .navbar-nav > li > a:focus:after {
  opacity: 1;
}

nav .navbar-nav > li .dropdown-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 39px;
  left: 10px;
  margin-top: -3px;
  background: #262626;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid #fa2a2a;
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  nav .navbar-nav > li .dropdown-menu {
    top: 0;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-right: 10px;
    position: relative;
    display: block !important;
    border: none;
    background: none;
    text-align: right;
  }
}

nav .navbar-nav > li .dropdown-menu > li {
  text-align: left;
  display: block;
}

@media screen and (max-width: 767px) {
  nav .navbar-nav > li .dropdown-menu > li {
    text-align: right;
  }
}

nav .navbar-nav > li .dropdown-menu > li > a {
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  padding: 12px 0;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: block;
}

@media screen and (max-width: 767px) {
  nav .navbar-nav > li .dropdown-menu > li > a {
    opacity: 1;
    display: inline-block;
    border: none;
  }
}

nav .navbar-nav > li .dropdown-menu > li > a:hover {
  background: none;
  color: #fa2a2a;
}

@media screen and (max-width: 767px) {
  nav .navbar-nav > li .dropdown-menu > li > a:hover {
    opacity: 1;
  }
}

nav .navbar-nav > li .dropdown-menu > li:last-child a {
  border-bottom: none;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 30px;
  display: none;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
  }
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::after,
.hamburger .hamburger-inner::before {
  background: #ffffff;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  background: #ffffff;
}

/* SLIDER */
.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  z-index: 10;
}

.slides {
  background: #000000;
}

.slides .slick-prev,
.slides .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 20;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (max-width: 600px) {
  .slides .slick-prev,
  .slides .slick-next {
    top: 90%;
    -webkit-transform: translate(0, -90%);
    transform: translate(0, -90%);
  }
}

@media screen and (max-width: 1175px) {
  .slides .slick-prev,
  .slides .slick-next {
    width: 40px;
    height: 40px;
  }
}

.slides .slick-prev {
  border-radius: 0 3px 3px 0;
  left: 0;
  background: rgba(255, 255, 255, 0.15) url("../images/chevron-left.svg") center center no-repeat;
  background-size: 7px 13px;
}

.slides .slick-prev:hover {
  background: rgba(255, 255, 255, 0.25) url("../images/chevron-left-color.svg") center center no-repeat;
  background-size: 7px 13px;
}

.slides .slick-next {
  border-radius: 3px 0 0 3px;
  right: 0;
  background: rgba(255, 255, 255, 0.15) url("../images/chevron-right.svg") center center no-repeat;
  background-size: 7px 13px;
}

.slides .slick-next:hover {
  background: rgba(255, 255, 255, 0.25) url("../images/chevron-right-color.svg") center center no-repeat;
  background-size: 7px 13px;
}

.slides .slide {
  height: 720px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  -webkit-transition: all 0.03s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.03s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (max-width: 1175px) {
  .slides .slide {
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .slides .slide {
    height: 100vh;
  }
}

.slides .slide .flex > div {
  max-width: 50%;
}

@media screen and (max-width: 1175px) {
  .slides .slide .flex > div {
    max-width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .slides .slide .flex > div {
    max-width: 100%;
  }
}

/* SECTIONS */
section {
  position: relative;
  padding: 150px 0;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  section {
    padding: 120px 0;
  }
}

@media screen and (max-width: 600px) {
  section {
    padding: 80px 0;
  }
}

section#home {
  padding: 0;
}

section#about_us {
  background: white;
}

section#about_us .image_about {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
  width: 100%;
}

@media screen and (max-width: 1175px) {
  section#about_us .image_about {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 767px) {
  section#about_us .image_about {
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}

section#about_us .background {
  width: 360px;
  height: 520px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  background: #212121;
  font-style: italic;
}

@media screen and (max-width: 767px) {
  section#about_us .background {
    background: none;
    height: 100%;
    width: 100%;
    width: auto;
    position: relative;
    top: 10%;
    left: 0;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}

section#about_us .background .note {
  font-family: "MontserratItalic", sans-serif;
  color: white;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  opacity: 60%;
}

@media screen and (max-width: 767px) {
  section#about_us .background .note {
    position: relative;
    color: #212121;
  }
}

@media screen and (max-width: 600px) {
  section#about_us .background .note {
    bottom: 10px;
  }
}

section#products .container {
  z-index: 2;
}

section#products h2 {
  margin-bottom: 20px;
}

section#products .gradient-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(transparent));
  background: linear-gradient(90deg, #000000 0%, transparent 100%);
}

section#products .features {
  margin-top: 35px;
}

section#products .features .feature {
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 25px 20px;
  margin-bottom: 20px;
}

section#products .features .feature h5 {
  letter-spacing: 3px;
  margin-bottom: 20px;
}

section#products .features .feature h3 {
  font-family: "MontserratBold", sans-serif;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
}

section#products .features .feature .additional {
  font-family: "MontserratItalic", sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

section#other_cars {
  text-align: center;
}

section#other_cars .inner {
  border: 1px solid #f3f3f5;
  border-radius: 3px;
  padding: 10px 20px;
  float: left;
  width: 100%;
  margin-top: 20px;
}

section#other_cars .inner:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

section#other_cars .inner:hover .buy a {
  color: white;
  background: #fa2a2a;
}

section#other_cars .image {
  min-height: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
}

section#other_cars h3 {
  font-family: "MontserratBold", sans-serif;
}

@media screen and (max-width: 960px) {
  section#other_cars h3 {
    font-size: 18px;
  }
}

section#other_cars h4 {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 5px;
  color: #929aad;
}

section#other_cars .list {
  color: #929aad;
  font-size: 13px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 25px;
}

section#other_cars .list ul li {
  padding-left: 20px;
  position: relative;
}

section#other_cars .list ul li:before {
  content: url("../images/path.svg");
  position: absolute;
  left: 0;
}

section#other_cars .price {
  float: left;
  text-align: left;
}

section#other_cars .price h3 span {
  display: block;
  clear: both;
  color: #929aad;
  font-size: 13px;
  line-height: 13px;
  font-family: "RobotoCondensedRegular", sans-serif;
  font-weight: normal;
}

section#other_cars .buy {
  float: right;
  margin-top: 3px;
}

section#other_cars .buy a {
  display: block;
  background: rgba(250, 42, 42, 0.1);
  border-radius: 17px;
  width: 80px;
  line-height: 34px;
  text-align: center;
  color: #fa2a2a;
  font-family: "RobotoCondensedRegular", sans-serif;
  text-decoration: none;
}

section#other_cars .buy a:hover {
  color: white;
  background: #fa2a2a;
}

section#contact_us {
  padding-bottom: 10px;
  background: #282a2f;
  background: linear-gradient(135deg, #282a2f 0%, black 100%);
}

section#contact_us h1 {
  max-width: 90%;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 600px) {
  section#contact_us h1 {
    max-width: 100%;
  }
}

section#contact_us .image {
  position: absolute;
  left: -200px;
  top: 300px;
  z-index: 2;
}

@media screen and (max-width: 1175px) {
  section#contact_us .image {
    z-index: 0;
    top: 320px;
    left: -100px;
  }
}

@media screen and (max-width: 1367px) {
  section#contact_us .image {
    z-index: 0;
  }
}

/* FORM */
.form {
  background: rgba(1, 31, 5, 0.95);
  padding: 48px;
  font-family: "RobotoCondensedRegular";
}

.form p {
  margin-bottom: 0;
  text-align: center;
}

.form input,
.form textarea {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  padding: 16px 20px;
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: 1px;
  outline: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form input:focus,
.form textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.form textarea {
  height: 160px;
}

.form input.wpcf7-submit {
  font-size: 16px;
  color: white;
  width: 125px;
  padding-bottom: 14px;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.25);
  background: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form input.wpcf7-submit:hover {
  background: rgba(255, 255, 255, 0.25);
}

.form .wpcf7 form.invalid .wpcf7-response-output,
.form .wpcf7 form.unaccepted .wpcf7-response-output,
.form .wpcf7 form.sent .wpcf7-response-output {
  color: #fff;
  font-size: 12px;
  border-width: 0px;
  text-align: center;
  background: #000000;
  margin-bottom: 0;
}

.form .wpcf7-not-valid-tip {
  color: #fa2a2a;
}

.form .input-placeholder {
  position: relative;
  margin-bottom: 25px;
}

.form .input-placeholder .wpcf7-not-valid-tip {
  font-size: 12px;
}

.form .input-placeholder input:valid + .placeholder {
  display: none;
}

.form .input-placeholder::focus .placeholder {
  display: none;
}

.form .input-placeholder .placeholder {
  letter-spacing: 1px;
  position: absolute;
  pointer-events: none;
  top: 17px;
  left: 21px;
  margin: auto;
  color: #9b9c9d;
}

.form .input-placeholder .placeholder span {
  margin-left: 6px;
  color: #fa2a2a;
}

.form div.wpcf7 .ajax-loader {
  background-image: url("../images/loader.svg");
  background-size: 32px;
  width: 32px;
  height: 32px;
  display: block;
  clear: both;
  position: absolute;
  right: 70px;
  bottom: 10px;
}

/* OTHER */
.white {
  color: white;
}

.lightgrey {
  color: #ccc5c5;
}

p.quote {
  font-family: "MontserratRegular", sans-serif;
  display: block;
  color: #ccc5c5;
  border-left: 1px solid #fa2a2a;
  padding-left: 30px;
  max-width: 60%;
}

@media screen and (max-width: 1175px) {
  p.quote {
    max-width: 75%;
  }
}

@media screen and (max-width: 600px) {
  p.quote {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  p.quote {
    color: #ffffff;
  }
}

.copyright,
.links a {
  font-family: "RobotoCondensedRegular", sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
  line-height: 80px;
  opacity: 0.5;
  font-size: 14px;
  margin-left: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.copyright:hover,
.links a:hover {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .copyright,
  .links a {
    line-height: 40px;
    text-align: center;
    display: block;
    margin: 0;
  }
}

.links,
.copyright {
  margin-top: 60px !important;
}

@media screen and (max-width: 767px) {
  .links {
    margin-top: 20px !important;
    margin-bottom: 30px;
  }
}

.copyright {
  margin: 0;
}

.copyright:hover {
  opacity: 0.5;
}

#backtotop {
  border-radius: 3px 3px 0 0;
  right: -60px;
  bottom: 0;
  background: #fa2a2a url(../images/chevron-up.svg) center center no-repeat;
  background-size: 15px 28px;
  font-size: 0;
  line-height: 0;
  position: fixed;
  z-index: 20;
  display: none;
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (max-width: 767px) {
  #backtotop {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */